#pagina-pequi {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  background: linear-gradient(229deg, rgb(255, 191, 107) 0%, rgb(226, 114, 29) 100%);
  z-index: 1;
}

h1 {
  color: #ffffff;
  font-size: 3rem;
  font-family: 'IM Fell Double Pica', serif;
}

.arrow {
  position: absolute;
  top: 20vh;
  margin: 10vh;
  
  font-size: 3rem;
  color: #ffffff;
  border: 1px solid #ffffff;
}

#pagina-pequi a:hover  {
  color: #080000;
  text-decoration: none;
  cursor: pointer;
}

.pequi-container {
  padding-top: 15vh;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  background: url('./fundo.svg') no-repeat;
  background-size: cover;
  z-index: 2;
}

.pequi-content {
  width: 60%;
  height: 100%;
}